.ant-row-style {
  margin-top: 15px;
  background-color: #88d3ff; }
  .ant-row-style .margin-top {
    margin-top: 15px;
    margin-left: 10px; }
  .ant-row-style .select-marginleft {
    width: 80%;
    float: right; }
